%h1 Your contacts
= "No Contacts Yet!" if @contacts.blank?
.contact
- @contacts.each do |contact|
  #contact_name
    %b Name:
    = contact.full_name
  %br
  #contact_email
    %b Email:
    = contact.email
  %br
  #contact_phone
    %b Phone:
    = contact.phone_number
  %br
  #contact_methods
    %b Contact Methods:
    - if contact.voice
      Voice
    - if contact.sms
      SMS
  %br
    - button_group do
      = edit_button_link_to "edit", edit_contact_path(contact)
      = trash_button_link_to "delete", contact, :confirm => 'You sure?', :method => :delete
  %hr
