%h2#contact_show_header Contact Details
.contact_name
  #label Name:
  #value
    = @contact.full_name
%br
.contact_email
  #label Email Address:
  #value
    = @contact.email
%br
.contact_phone
  #label Phone Number:
  #value
    = @contact.phone_number
%br
= link_to "Edit Contact Info", edit_contact_path
= link_to "Add Another Contact", new_contact_path
