.contact_name
  Name:
  = @contact.first_name
  = @contact.last_name
%br
.contact_email
  Email Address:
  = @contact.email
%br
.contact_phone
  Phone Number:
  = @contact.phone_number
%br
= link_to "Edit Contact Info", edit_contact_path
