.contact_name
  Name:
  = @contact.first_name
  = @contact.last_name
%br
.contact_email
  Email Address:
  = @contact.email
%br
.contact_phone
  Phone Number:
  = @contact.phone_number
%br
%link{:href => "/contact"}Add Another Contact
%link{:href => "/"}Home
%link{:href => "/contact/#{@contact.id}/edit"}Edit Contact Info
