!!!
%head
  %title SOSMS - We hope you never use it.
  = stylesheet_link_tag :all, :formtastic
  = javascript_include_tag :defaults
  = csrf_meta_tag
  = image_tag "logo.png", :height => "50px"
  = render :partial => "shared/nav"
%body
  .notice
    = notice
  .alert
    = alert

  = yield

#footer
  = render :partial => "shared/footer"
